* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  color: rgb(255, 255, 255);
  background-color: #c8d3e2;
}

main {
  width: 100%;
  padding: 2.1rem 2.1rem 0 2.1rem;
  height: 90%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

#boxs {
  height: 80vh;
  display: flex;
  gap: 1rem;
}

.left,
.right {
  /* border-radius: 0.9rem; */
  flex-basis: 50%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.822);
}

#boxs .left {
  background-color: #1e1e1e;
  position: relative;
}

h1 {
  display: flex;
  text-align: center;
  gap: 1.5rem;
  font-weight: 900;
  font-size: 2.2rem;
  font-family: sans-serif;
  color: #48489b;
  text-shadow: 2px 2px 6px black;
}
.robot-icon{
  width: 50px;
  height: 50px;
}

.left .code {
  width: 100%;
  /* height: 100%; */
  max-height: 100vh;

  padding: 0.1rem;
  background-color: #1e1e1e;
  color: #ffffff;
  font-family: monospace;
  white-space: pre;
}

.left .review {
  position: absolute;
  background-color: #045a19;
  bottom: 1rem;
  right: 1.5rem;
  padding: 0.7rem 2rem;
  border-radius: 0.7rem;
  cursor: pointer;
  font-weight: 500;
  user-select: none;
  color: white;
  font-family: sans-serif;
}

.right {
  background-color: #000000;
  padding: 1rem 2rem;
  font-size: 1rem;
  overflow: auto;
}
